.MenuPrincipal{
    width: 439px;
    max-height: 500px;
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 8px;

    
}


.CaixaScroll{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 375px;
    height: 537px;
    overflow-y:scroll;
    overflow-x: hidden;


}

.AdicionarIngredientes{
    position: absolute;
    width: 375px;
    height: 55px;


    background: rgba(253, 215, 14, 0.2);
}

.AdicionarIngredientes h3{
    position: absolute;
    width: 343px;
    height: 23px;
    margin-top: 8px;
    margin-left: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;


    display: flex;
    align-items: center;
}

.AdicionarIngredientes p{
    position: absolute;
    width: 343px;
    height: 16px;
    left: 16px;
    top: 31px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;





    color: #E49700;
}

.QueijoCheddar{
    width: 359px;
    height: 88px;
    background-color: #FFFFFF;
    margin-top: 61px;
}

.QueijoCheddar h3{
    position: absolute;
    margin-top: 8px ;
    margin-left: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;


    color: #4E4E4E;
}

.QueijoCheddar p{
    position: absolute;
    margin-top: 58px;
    margin-left: 8px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    display: flex;
    align-items: center;

/* Secondary/default */

    color: #F09035;
}

.Linha{
    position: absolute;
    width: 343px;
    height: 0px;
    margin-top: 153px;

/* Secondary/lighter */

    border: 1px solid #E8A634;
}

.CebolaCrispy{
    width: 359px;
    height: 78px;
    background-color: #FFFFFF;
    margin-top: 20px;
}

.CebolaCrispy h3{
    position: absolute;
    margin-top: 8px ;
    margin-left: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;


    color: #4E4E4E;
}

.CebolaCrispy p{
    position: absolute;
    margin-top: 58px;
    margin-left: 8px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;


    display: flex;
    align-items: center;



    color: #F09035;
}

.Linha2{
    position: absolute;
    width: 343px;
    height: 0px;
    margin-top: 255px;

    border: 1px solid #E8A634;
}

.MolhoCheddar{
    width: 359px;
    height: 78px;
    background-color: #FFFFFF;
    margin-top: 20px;
    
}

.MolhoCheddar h3{
    position: absolute;
    margin-top: 8px ;
    margin-left: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;


    color: #4E4E4E;
}

.MolhoCheddar p{
    position: absolute;
    margin-top: 58px;
    margin-left: 8px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;


    display: flex;
    align-items: center;



    color: #F09035;
}

.Linha3{
    position: absolute;
    width: 343px;
    height: 0px;
    margin-top: 358px;

    border: 1px solid #E8A634;
}

.MolhoDePicanha{
    width: 359px;
    height: 78px;
    background-color: #FFFFFF;
    margin-top: 20px;
}

.MolhoDePicanha h3{
    position: absolute;
    margin-top: 8px ;
    margin-left: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;


    color: #4E4E4E;
}

.MolhoDePicanha p{
    position: absolute;
    margin-top: 58px;
    margin-left: 8px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;


    display: flex;
    align-items: center;



    color: #F09035;
}

.Linha4{
    position: absolute;
    width: 343px;
    height: 0px;
    margin-top: 460px;

    border: 1px solid #E8A634;
}

.Talher{
    margin-left: 16px;
    width: 375px;
    height: 55px;
    margin-top: 23px;
    
    /* yellow light */
    
    background: rgba(253, 215, 14, 0.2);
}

.Talher h3{
    position: absolute;
    margin-top: 8px ;
    margin-left: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;


    color: #4E4E4E;
}

.Add{
    display: flex;
    width: 120px;
    height: 38px;

    background: #FFFFFF;
    /* Secondary/default */

    border: 1px solid #F09035;
    border-radius: 4px;
}

.diminuir{
    background-color: #FFFFFF;
    color: #ED3237;
    position: absolute;
    width: 24px;
    height: 14px;
    margin-left: 8px;
    border: 0;
    font-size: 14px;
    margin-top: 12px;
}

.numero{

    margin-left: 55px;
    margin-top:6px;
/* .text.text__buttom--md */

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
/* or 71% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.33px;
    margin-bottom: 2px;

}

.Aumentar{
    background-color: #FFFFFF;
    font-size: 14px;
    color: #ED3237;
    border: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 88px;
    margin-top: 8px;
    

}

.Finalizar{
    display: flex;
}

.Add2 button{
    margin-left:24px;
    width: 219px;
    height: 40px;

    background: #F09035;
    border-radius: 4px;
    color: white;
    border: 0;
}

.Escolha p {

}
